<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183716169778-q3rk8io3ujiihhdm27r3bhcrb33jrn2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183716169778-q3rk8io3ujiihhdm27r3bhcrb33jrn2e</string>
	<key>API_KEY</key>
	<string>AIzaSyAWZcU2WLysHHFqw3F7tSjgTXpG64EC2SU</string>
	<key>GCM_SENDER_ID</key>
	<string>183716169778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.behealthy.PoorGuys</string>
	<key>PROJECT_ID</key>
	<string>poorguys-ad187</string>
	<key>STORAGE_BUCKET</key>
	<string>poorguys-ad187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183716169778:ios:d7bb1112e8f79705cd942b</string>
</dict>
</plist>